.main {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
}

/*#messagearea {
    margin-top: 20px;
} */


#messageform {
   /* background: #6699ff; */
   display: flex;
   box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#message {
    background: #b8b894;
    flex-grow: 1;
}

#messagesend {
    background: #6699ff;
   /* padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px; */
}


ul.roomuserlist {
    list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
}

ul.roomuserlist li {
    margin-right: 10px;
}